<style>
  /* mobile media query */
  @media (max-width: 767px) {
    .threecol {
      grid-template-columns: 1fr !important;
    }
  }
  /* desktop media query*/
  @media (min-width: 768px) {
    .split {
      display: -ms-grid;
      display: grid;
      grid-auto-columns: 1fr;
      grid-column-gap: 16px;
      grid-row-gap: 50px;
      grid-template-columns: 0.5fr 1fr;
      -ms-grid-rows: auto;
      grid-template-rows: auto;
    }
  }

  .threecol {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .container {
    max-width: 1620px;
  }
</style>

<div class="section gray">
  <div class="container w-container">
    <div class="split">
      <div id="w-node-a3eb2c54-9b68-5744-6a31-89fab04cda2b-2f1baa25" class="spread-vertical">
        <div
          data-w-id="e47bc48b-4c5f-0505-2e27-8229d06e102f"
          style="
                opacity: 0;
                -webkit-transform: translate3d(0, 0, 0) scale3d(0.95, 0.95, 1)
                  rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                -moz-transform: translate3d(0, 0, 0) scale3d(0.95, 0.95, 1)
                  rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                -ms-transform: translate3d(0, 0, 0) scale3d(0.95, 0.95, 1)
                  rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                transform: translate3d(0, 0, 0) scale3d(0.95, 0.95, 1)
                  rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
              "
          class="limit-small"
        >
          <h2 class="blue-text h5">Reach out</h2>
          <div class="relative">
            <img src="images/6377a80b8dbc35650d1bff4f_lines%202.svg" loading="lazy" alt="" class="scribble-lines-2" />
            <h2>
              Discover Our Range of

              <span class="brush-underline blue">Specialized Courses Collection</span><span class="brush-underline blue"
              ></span>
            </h2>
          </div>
          <div class="medium-text">
            Explore our diverse range of courses today and take the first step towards achieving your goals.
          </div>
        </div>
        <!-- <a href="/courses" class="black-button w-button">Courses</a> -->
      </div>
      <div id="w-node-_784817bf-28a2-0182-360d-ae8681f4b07f-2f1baa25" class="split less-space threecol">
        <div
          id="w-node-_6f364c10-6e3b-e3ea-6e05-c9d528c36425-2f1baa25"
          data-w-id="6f364c10-6e3b-e3ea-6e05-c9d528c36425"
          style="
                opacity: 0;
                -webkit-transform: translate3d(0, 0, 0) scale3d(0.95, 0.95, 1)
                  rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                -moz-transform: translate3d(0, 0, 0) scale3d(0.95, 0.95, 1)
                  rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                -ms-transform: translate3d(0, 0, 0) scale3d(0.95, 0.95, 1)
                  rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                transform: translate3d(0, 0, 0) scale3d(0.95, 0.95, 1)
                  rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
              "
          class="feature-card"
        >
          <!-- <div class="black-circle">
              <img src="images/6377a80b24da1926e384c9fa_Vector%203.png" loading="lazy" width="40" alt="" />
            </div> -->
          <div>
            <svg xmlns="http://www.w3.org/2000/svg" width="5em" height="5em" viewBox="0 0 256 256"
              ><g fill="none"
                ><rect width="256" height="256" fill="#300" rx="60"></rect><path
                  fill="#ff9a00"
                  d="M123.733 152.333h-39.68L75.946 177.4c-.213.96-1.066 1.6-2.026 1.493H53.866c-1.173 0-1.493-.64-1.173-1.92l34.347-98.88c.32-1.066.64-2.24 1.066-3.52c.427-2.24.64-4.586.64-6.933c-.106-.533.32-1.067.854-1.173h27.626c.854 0 1.28.32 1.387.853l38.933 109.867c.32 1.173 0 1.706-1.066 1.706h-22.294c-.746.107-1.493-.426-1.706-1.173zM90.24 130.68h27.093c-.64-2.24-1.493-4.907-2.453-7.68c-.96-2.88-1.92-5.973-2.88-9.173c-1.067-3.307-2.027-6.507-3.094-9.814c-1.066-3.306-2.026-6.4-2.88-9.493c-.853-2.986-1.6-5.76-2.346-8.32h-.214c-.96 4.587-2.133 9.174-3.626 13.76c-1.6 5.12-3.2 10.453-4.907 15.787a209.317 209.317 0 0 1-4.693 14.933m91.093-45.547c-3.52.107-6.933-1.28-9.493-3.733c-2.453-2.667-3.733-6.187-3.627-9.813c-.106-3.627 1.28-7.04 3.84-9.494c2.56-2.453 5.974-3.733 9.494-3.733c4.16 0 7.36 1.28 9.706 3.733a13.464 13.464 0 0 1 3.52 9.494c.107 3.626-1.173 7.146-3.733 9.813c-2.453 2.56-6.08 3.947-9.707 3.733m-11.946 92.587V95.587c0-1.067.426-1.494 1.386-1.494h21.12c.96 0 1.387.534 1.387 1.494v82.133c0 1.173-.427 1.707-1.387 1.707h-20.906c-1.067 0-1.6-.64-1.6-1.707"
                ></path></g
              ></svg
            >
            <h3 class="h4 mt-10">Adobe Illustrator</h3>
            <p class="opacity-black-text">
              Develop your graphic design skills with our comprehensive course covering design principles, software
              tools, and creative techniques.
            </p>
            <!-- <a href="/about-as" class="blue-text">Learn more</a> -->
          </div>
        </div>
        <div
          id="w-node-_6f364c10-6e3b-e3ea-6e05-c9d528c36425-2f1baa25"
          data-w-id="6f364c10-6e3b-e3ea-6e05-c9d528c36425"
          style="
                opacity: 0;
                -webkit-transform: translate3d(0, 0, 0) scale3d(0.95, 0.95, 1)
                  rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                -moz-transform: translate3d(0, 0, 0) scale3d(0.95, 0.95, 1)
                  rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                -ms-transform: translate3d(0, 0, 0) scale3d(0.95, 0.95, 1)
                  rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                transform: translate3d(0, 0, 0) scale3d(0.95, 0.95, 1)
                  rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
              "
          class="feature-card"
        >
          <!-- <div class="black-circle">
              <img src="images/6377a80b24da1926e384c9fa_Vector%203.png" loading="lazy" width="40" alt="" />
            </div> -->
          <div>
            <svg xmlns="http://www.w3.org/2000/svg" width="5em" height="5em" viewBox="0 0 256 250"
              ><rect width="256" height="249.6" fill="#49021f" rx="42.5"></rect><path
                fill="#f36"
                d="M92.969 65.297v109.394c0 1.146-.515 1.718-1.546 1.718h-20.78c-.917 0-1.375-.573-1.373-1.718V65.297c0-.915.515-1.373 1.545-1.374h20.78a1.215 1.215 0 0 1 1.385 1.233zm62.586 112.818l-1.106.011a53.208 53.208 0 0 1-22.926-4.808a36.45 36.45 0 0 1-16.057-14.512c-3.799-6.309-5.744-14.173-5.836-23.59l-.003-.71a44.844 44.844 0 0 1 5.84-22.497a42.866 42.866 0 0 1 16.443-16.183l.558-.304c7.44-4.121 16.428-6.182 26.962-6.182l.222.001l.493.011l.558.022l.623.032l.687.043l.751.055l1.697.139l.464.04v-33.83c0-.8.344-1.203 1.03-1.203h21.639a.91.91 0 0 1 1.03 1.03v101.495a85.4 85.4 0 0 0 .258 6.354l.162 2.214l.143 2.061l.124 1.907a1.775 1.775 0 0 1-1.03 1.718a85.184 85.184 0 0 1-17.345 5.151a93.12 93.12 0 0 1-15.38 1.535m9.37-21.284v-46.883a17.035 17.035 0 0 0-2.833-.515a34.25 34.25 0 0 0-3.521-.172c-4.168-.041-8.286.9-12.021 2.748a23.472 23.472 0 0 0-9.016 7.9c-2.348 3.434-3.522 7.957-3.521 13.567a30.284 30.284 0 0 0 1.803 10.99a20.894 20.894 0 0 0 4.809 7.557a18.311 18.311 0 0 0 7.213 4.293a28.277 28.277 0 0 0 8.844 1.375c1.602 0 3.09-.058 4.465-.173a18.38 18.38 0 0 0 3.248-.54z"
              ></path></svg
            >
            <h3 class="h4 mt-10">Adobe InDesign</h3>
            <p class="opacity-black-text">
              Develop your graphic design skills with our comprehensive course covering design principles, software
              tools, and creative techniques.
            </p>
            <!-- <a href="/about-as" class="blue-text">Learn more</a> -->
          </div>
        </div>
        <div
          id="w-node-_6f364c10-6e3b-e3ea-6e05-c9d528c36425-2f1baa25"
          data-w-id="6f364c10-6e3b-e3ea-6e05-c9d528c36425"
          style="
                opacity: 0;
                -webkit-transform: translate3d(0, 0, 0) scale3d(0.95, 0.95, 1)
                  rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                -moz-transform: translate3d(0, 0, 0) scale3d(0.95, 0.95, 1)
                  rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                -ms-transform: translate3d(0, 0, 0) scale3d(0.95, 0.95, 1)
                  rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                transform: translate3d(0, 0, 0) scale3d(0.95, 0.95, 1)
                  rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
              "
          class="feature-card"
        >
          <!-- <div class="black-circle">
              <img src="images/6377a80b24da1926e384c9fa_Vector%203.png" loading="lazy" width="40" alt="" />
            </div> -->
          <div>
            <svg xmlns="http://www.w3.org/2000/svg" width="5em" height="5em" viewBox="0 0 128 128"
              ><path
                fill="#001e36"
                d="M22.667 1.6h82.666C117.867 1.6 128 11.733 128 24.267v79.466c0 12.534-10.133 22.667-22.667 22.667H22.667C10.133 126.4 0 116.267 0 103.733V24.267C0 11.733 10.133 1.6 22.667 1.6"
              ></path><path
                fill="#31a8ff"
                d="M45.867 33.333c-1.6 0-3.2 0-4.853.054c-1.654.053-3.201.053-4.641.107c-1.44.053-2.773.053-4.053.106c-1.227.053-2.08.053-2.987.053c-.373 0-.533.213-.533.587v54.88c0 .48.213.694.64.694h10.347c.373-.054.64-.374.586-.747v-17.12c1.013 0 1.76 0 2.294.053c.533.053 1.386.053 2.666.053c4.374 0 8.374-.48 12-1.813c3.467-1.28 6.454-3.52 8.587-6.507q3.2-4.48 3.2-11.36c0-2.4-.426-4.693-1.226-6.933A17 17 0 0 0 64 39.36a19.05 19.05 0 0 0-7.147-4.374c-2.987-1.12-6.613-1.653-10.986-1.653m1.19 10.505c1.9.036 3.75.368 5.476 1.068c1.547.587 2.827 1.654 3.734 3.04a8.8 8.8 0 0 1 1.227 4.748c0 2.346-.534 4.16-1.654 5.493c-1.174 1.333-2.667 2.347-4.373 2.827c-1.974.64-4.054.959-6.134.959h-2.827c-.64 0-1.332-.053-2.079-.106v-17.92c.373-.054 1.12-.107 2.187-.053c1.013-.054 2.239-.054 3.626-.054q.41-.01.817-.002m44.73 2.723c-3.787 0-6.934.586-9.44 1.866c-2.293 1.067-4.267 2.773-5.6 4.906c-1.173 1.974-1.814 4.16-1.814 6.454a11.45 11.45 0 0 0 1.227 5.44a13.8 13.8 0 0 0 4.054 4.533a32.6 32.6 0 0 0 7.573 3.84c2.613 1.013 4.373 1.813 5.227 2.506c.853.694 1.28 1.387 1.28 2.134c0 .96-.587 1.867-1.44 2.24c-.96.48-2.4.747-4.427.747c-2.133 0-4.267-.267-6.294-.8a22.8 22.8 0 0 1-6.613-2.613c-.16-.107-.32-.16-.48-.053c-.16.106-.213.319-.213.479v9.28c-.053.427.213.8.587 1.013a21.5 21.5 0 0 0 5.44 1.707c2.4.48 4.799.693 7.252.693c3.84 0 7.041-.586 9.654-1.706c2.4-.96 4.48-2.613 5.973-4.747a12.4 12.4 0 0 0 2.08-7.093a11.5 11.5 0 0 0-1.226-5.493c-1.014-1.814-2.454-3.307-4.214-4.427a38.6 38.6 0 0 0-8.213-3.894a49 49 0 0 1-3.787-1.76c-.693-.373-1.333-.853-1.813-1.44c-.32-.427-.533-.906-.533-1.386s.16-1.013.426-1.44c.374-.533.96-.907 1.653-1.067c1.014-.266 2.134-.427 3.2-.374c2.027 0 4 .267 5.974.694c1.814.373 3.52.96 5.12 1.814c.213.106.48.106.96 0a.66.66 0 0 0 .267-.534v-8.693c0-.214-.054-.427-.107-.64c-.107-.213-.32-.427-.533-.48A18.8 18.8 0 0 0 98.4 47.04a46 46 0 0 0-6.613-.48z"
              ></path></svg
            >
            <h3 class="h4 mt-10">Adobe Photoshop</h3>
            <p class="opacity-black-text">
              Develop your graphic design skills with our comprehensive course covering design principles, software
              tools, and creative techniques.
            </p>
            <!-- <a href="/about-as" class="blue-text">Learn more</a> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
