<section class="section faq">
  <div class="container">
    <div class="faq-content-wrap">
      <div class="section-title-wrap" style="opacity: 0">
        <div class="mini-title-flex-wrap center">
          <div class="mini-title-border"></div>
          <div class="mini-title-text">questions</div>
          <div class="mini-title-border"></div>
        </div>
        <h2 class="section-title">Frequently Asked Questions</h2>
        <!-- <p class="section-details blog-v1">
            Check back our courses for new lessons on your favorite
            technologies and techniques with multiple of the education type.
          </p> -->
      </div>
      <div class="faq-accordions-wrapper">
        <div class="single-accordion-wrap" style="background-color: rgb(255, 255, 255); opacity: 0">
          <div class="accordion-question-wrap">
            <h5 class="faq-question" style="color: rgb(0, 0, 0)">
              1. Is this course suitable for absolute beginners in graphic design?
            </h5>
            <div class="faq-icon-wrap">
              <img
                width="50"
                src="./images/acc.svg"
                loading="lazy"
                alt=""
                class="faq-plus"
                style="
                      transform: translate3d(0px, 0%, 0px) scale3d(1, 1, 1)
                        rotateX(0deg) rotateY(0deg) rotateZ(0deg)
                        skew(0deg, 0deg);
                      transform-style: preserve-3d;
                    "
              />
              <img
                width="50"
                src="https://assets-global.website-files.com/64758a233afdd871f237b966/647b21b87a7d8d07355ca106_Faq-Minus.svg"
                loading="lazy"
                alt=""
                class="faq-minus"
                style="
                      transform: translate3d(0px, 0%, 0px) scale3d(1, 1, 1)
                        rotateX(0deg) rotateY(0deg) rotateZ(0deg)
                        skew(0deg, 0deg);
                      transform-style: preserve-3d;
                    "
              />
            </div>
          </div>
          <div class="accordion-ans-wrap" style="width: 100%; height: 0px">
            <p class="faq-ans" style="color: rgb(83, 83, 102)">
              Absolutely! Our course caters to individuals with zero experience in graphic design. We'll guide you from
              the basics to advanced techniques, ensuring a smooth and enjoyable learning journey.
            </p>
          </div>
        </div>
        <div class="single-accordion-wrap" style="background-color: rgb(255, 255, 255); opacity: 0">
          <div class="accordion-question-wrap">
            <h5 class="faq-question" style="color: rgb(0, 0, 0)">
              2. Do I need any prior knowledge of design software?
            </h5>
            <div class="faq-icon-wrap">
              <img
                src="./images/acc.svg"
                loading="lazy"
                alt=""
                class="faq-plus"
                style="
                      transform: translate3d(0px, 0%, 0px) scale3d(1, 1, 1)
                        rotateX(0deg) rotateY(0deg) rotateZ(0deg)
                        skew(0deg, 0deg);
                      transform-style: preserve-3d;
                    "
              /><img
                src="https://assets-global.website-files.com/64758a233afdd871f237b966/647b21b87a7d8d07355ca106_Faq-Minus.svg"
                loading="lazy"
                alt=""
                class="faq-minus"
                style="
                      transform: translate3d(0px, 0%, 0px) scale3d(1, 1, 1)
                        rotateX(0deg) rotateY(0deg) rotateZ(0deg)
                        skew(0deg, 0deg);
                      transform-style: preserve-3d;
                    "
              />
            </div>
          </div>
          <div class="accordion-ans-wrap" style="width: 100%; height: 0px">
            <p class="faq-ans" style="color: rgb(83, 83, 102)">
              No prior knowledge is required. We'll introduce you to essential design tools like Adobe Photoshop and
              Illustrator, offering step-by-step instructions and hands-on practice to help you master them.
            </p>
          </div>
        </div>
        <div
          class="single-accordion-wrap"
          style="
                background-color: rgb(255, 255, 255);
                opacity: 1;
                transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1)
                  rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
                transform-style: preserve-3d;
              "
        >
          <div class="accordion-question-wrap">
            <h5 class="faq-question" style="color: rgb(0, 0, 0)">
              3. Can graphic design help me as a freelancer or entrepreneur?
            </h5>
            <div class="faq-icon-wrap">
              <img
                src="./images/acc.svg"
                loading="lazy"
                alt=""
                class="faq-plus"
                style="
                      transform: translate3d(0px, 0%, 0px) scale3d(1, 1, 1)
                        rotateX(0deg) rotateY(0deg) rotateZ(0deg)
                        skew(0deg, 0deg);
                      transform-style: preserve-3d;
                    "
              /><img
                src="https://assets-global.website-files.com/64758a233afdd871f237b966/647b21b87a7d8d07355ca106_Faq-Minus.svg"
                loading="lazy"
                alt=""
                class="faq-minus"
                style="
                      transform: translate3d(0px, 0%, 0px) scale3d(1, 1, 1)
                        rotateX(0deg) rotateY(0deg) rotateZ(0deg)
                        skew(0deg, 0deg);
                      transform-style: preserve-3d;
                    "
              />
            </div>
          </div>
          <div class="accordion-ans-wrap" style="width: 100%; height: 0px">
            <p class="faq-ans" style="color: rgb(83, 83, 102)">
              Absolutely! Graphic design skills are valuable for freelancers and entrepreneurs. They enable you to
              create your branding materials, design marketing collateral, and enhance the visual appeal of your
              products or services, leading to increased credibility and sales.
            </p>
          </div>
        </div>
        <div
          class="single-accordion-wrap"
          style="
                background-color: rgb(255, 255, 255);
                opacity: 1;
                transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1)
                  rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
                transform-style: preserve-3d;
              "
        >
          <div class="accordion-question-wrap">
            <h5 class="faq-question" style="color: rgb(0, 0, 0)">
              4. What is the instructor's experience in the graphic design industry?
            </h5>
            <div class="faq-icon-wrap">
              <img
                src="./images/acc.svg"
                loading="lazy"
                alt=""
                class="faq-plus"
                style="
                      transform: translate3d(0px, 0%, 0px) scale3d(1, 1, 1)
                        rotateX(0deg) rotateY(0deg) rotateZ(0deg)
                        skew(0deg, 0deg);
                      transform-style: preserve-3d;
                    "
              /><img
                src="https://assets-global.website-files.com/64758a233afdd871f237b966/647b21b87a7d8d07355ca106_Faq-Minus.svg"
                loading="lazy"
                alt=""
                class="faq-minus"
                style="
                      transform: translate3d(0px, 0%, 0px) scale3d(1, 1, 1)
                        rotateX(0deg) rotateY(0deg) rotateZ(0deg)
                        skew(0deg, 0deg);
                      transform-style: preserve-3d;
                    "
              />
            </div>
          </div>
          <div class="accordion-ans-wrap" style="width: 100%; height: 0px">
            <p class="faq-ans" style="color: rgb(83, 83, 102)">
              Our instructor brings over 20 years of industry experience, covering a wide range of areas from print
              media to digital design. They are proficient in software such as CorelDRAW, Illustrator, InDesign,
              Photoshop.
            </p>
          </div>
        </div>
        <div
          class="single-accordion-wrap"
          style="
                background-color: rgb(255, 255, 255);
                opacity: 1;
                transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1)
                  rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
                transform-style: preserve-3d;
              "
        >
          <div class="accordion-question-wrap">
            <h5 class="faq-question" style="color: rgb(0, 0, 0)">5. Which software will be covered in the course?</h5>
            <div class="faq-icon-wrap">
              <img
                src="./images/acc.svg"
                loading="lazy"
                alt=""
                class="faq-plus"
                style="
                      transform: translate3d(0px, 0%, 0px) scale3d(1, 1, 1)
                        rotateX(0deg) rotateY(0deg) rotateZ(0deg)
                        skew(0deg, 0deg);
                      transform-style: preserve-3d;
                    "
              /><img
                src="https://assets-global.website-files.com/64758a233afdd871f237b966/647b21b87a7d8d07355ca106_Faq-Minus.svg"
                loading="lazy"
                alt=""
                class="faq-minus"
                style="
                      transform: translate3d(0px, 0%, 0px) scale3d(1, 1, 1)
                        rotateX(0deg) rotateY(0deg) rotateZ(0deg)
                        skew(0deg, 0deg);
                      transform-style: preserve-3d;
                    "
              />
            </div>
          </div>
          <div class="accordion-ans-wrap" style="width: 100%; height: 0px">
            <p class="faq-ans" style="color: rgb(83, 83, 102)">
              The course primarily focuses on Adobe Illustrator, InDesign, and Photoshop, with a practical approach to
              ensure a strong foundation in these industry-standard tools.
            </p>
          </div>
        </div>
        <div
          class="single-accordion-wrap"
          style="
                background-color: rgb(255, 255, 255);
                opacity: 1;
                transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1)
                  rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
                transform-style: preserve-3d;
              "
        >
          <div class="accordion-question-wrap">
            <h5 class="faq-question" style="color: rgb(0, 0, 0)">
              6. Will the course cover aspects beyond software skills?
            </h5>
            <div class="faq-icon-wrap">
              <img
                src="./images/acc.svg"
                loading="lazy"
                alt=""
                class="faq-plus"
                style="
                      transform: translate3d(0px, 0%, 0px) scale3d(1, 1, 1)
                        rotateX(0deg) rotateY(0deg) rotateZ(0deg)
                        skew(0deg, 0deg);
                      transform-style: preserve-3d;
                    "
              /><img
                src="https://assets-global.website-files.com/64758a233afdd871f237b966/647b21b87a7d8d07355ca106_Faq-Minus.svg"
                loading="lazy"
                alt=""
                class="faq-minus"
                style="
                      transform: translate3d(0px, 0%, 0px) scale3d(1, 1, 1)
                        rotateX(0deg) rotateY(0deg) rotateZ(0deg)
                        skew(0deg, 0deg);
                      transform-style: preserve-3d;
                    "
              />
            </div>
          </div>
          <div class="accordion-ans-wrap" style="width: 100%; height: 0px">
            <p class="faq-ans" style="color: rgb(83, 83, 102)">
              Yes, in addition to software training, the course includes modules on client management, principles of
              design, typography, color theory, and other essential elements crucial for a well-rounded understanding of
              graphic design.
            </p>
          </div>
        </div>
        <div
          class="single-accordion-wrap"
          style="
                background-color: rgb(255, 255, 255);
                opacity: 1;
                transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1)
                  rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
                transform-style: preserve-3d;
              "
        >
          <div class="accordion-question-wrap">
            <h5 class="faq-question" style="color: rgb(0, 0, 0)">
              7. How does this course benefit students working in specific industries?
            </h5>
            <div class="faq-icon-wrap">
              <img
                src="./images/acc.svg"
                loading="lazy"
                alt=""
                class="faq-plus"
                style="
                      transform: translate3d(0px, 0%, 0px) scale3d(1, 1, 1)
                        rotateX(0deg) rotateY(0deg) rotateZ(0deg)
                        skew(0deg, 0deg);
                      transform-style: preserve-3d;
                    "
              /><img
                src="https://assets-global.website-files.com/64758a233afdd871f237b966/647b21b87a7d8d07355ca106_Faq-Minus.svg"
                loading="lazy"
                alt=""
                class="faq-minus"
                style="
                      transform: translate3d(0px, 0%, 0px) scale3d(1, 1, 1)
                        rotateX(0deg) rotateY(0deg) rotateZ(0deg)
                        skew(0deg, 0deg);
                      transform-style: preserve-3d;
                    "
              />
            </div>
          </div>
          <div class="accordion-ans-wrap" style="width: 100%; height: 0px">
            <p class="faq-ans" style="color: rgb(83, 83, 102)">
              Our course is tailored to benefit students working in diverse industries. By teaching industry-standard
              software and fundamental design principles, students can enhance their skills, improve their work quality,
              and increase their value to the 15 to 20 companies represented in the course.
            </p>
          </div>
        </div>
        <div
          class="single-accordion-wrap"
          style="
                background-color: rgb(255, 255, 255);
                opacity: 1;
                transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1)
                  rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
                transform-style: preserve-3d;
              "
        >
          <div class="accordion-question-wrap">
            <h5 class="faq-question" style="color: rgb(0, 0, 0)">
              8. Can graphic design skills benefit my career, even if I'm not in a design-related field?
            </h5>
            <div class="faq-icon-wrap">
              <img
                src="./images/acc.svg"
                loading="lazy"
                alt=""
                class="faq-plus"
                style="
                      transform: translate3d(0px, 0%, 0px) scale3d(1, 1, 1)
                        rotateX(0deg) rotateY(0deg) rotateZ(0deg)
                        skew(0deg, 0deg);
                      transform-style: preserve-3d;
                    "
              /><img
                src="https://assets-global.website-files.com/64758a233afdd871f237b966/647b21b87a7d8d07355ca106_Faq-Minus.svg"
                loading="lazy"
                alt=""
                class="faq-minus"
                style="
                      transform: translate3d(0px, 0%, 0px) scale3d(1, 1, 1)
                        rotateX(0deg) rotateY(0deg) rotateZ(0deg)
                        skew(0deg, 0deg);
                      transform-style: preserve-3d;
                    "
              />
            </div>
          </div>
          <div class="accordion-ans-wrap" style="width: 100%; height: 0px">
            <p class="faq-ans" style="color: rgb(83, 83, 102)">
              Absolutely! Graphic design skills are highly transferable and can enhance your career in various
              industries. From marketing and advertising to content creation and digital media, having design skills can
              open up new opportunities and make you more versatile in your profession
            </p>
          </div>
        </div>
        <div
          class="single-accordion-wrap"
          style="
                background-color: rgb(255, 255, 255);
                opacity: 1;
                transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1)
                  rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
                transform-style: preserve-3d;
              "
        >
          <div class="accordion-question-wrap">
            <h5 class="faq-question" style="color: rgb(0, 0, 0)">
              9. Do I receive a certificate upon completing the course?
            </h5>
            <div class="faq-icon-wrap">
              <img
                src="./images/acc.svg"
                loading="lazy"
                alt=""
                class="faq-plus"
                style="
                      transform: translate3d(0px, 0%, 0px) scale3d(1, 1, 1)
                        rotateX(0deg) rotateY(0deg) rotateZ(0deg)
                        skew(0deg, 0deg);
                      transform-style: preserve-3d;
                    "
              /><img
                src="https://assets-global.website-files.com/64758a233afdd871f237b966/647b21b87a7d8d07355ca106_Faq-Minus.svg"
                loading="lazy"
                alt=""
                class="faq-minus"
                style="
                      transform: translate3d(0px, 0%, 0px) scale3d(1, 1, 1)
                        rotateX(0deg) rotateY(0deg) rotateZ(0deg)
                        skew(0deg, 0deg);
                      transform-style: preserve-3d;
                    "
              />
            </div>
          </div>
          <div class="accordion-ans-wrap" style="width: 100%; height: 0px">
            <p class="faq-ans" style="color: rgb(83, 83, 102)">
              Yes, upon successfully completing the course requirements and projects, you will receive a certificate of
              completion, which can be a valuable addition to your portfolio.
            </p>
          </div>
        </div>
        <div
          class="single-accordion-wrap"
          style="
                background-color: rgb(255, 255, 255);
                opacity: 1;
                transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1)
                  rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
                transform-style: preserve-3d;
              "
        >
          <div class="accordion-question-wrap">
            <h5 class="faq-question" style="color: rgb(0, 0, 0)">
              10. Will I be able to create professional-quality designs after completing the course?
            </h5>
            <div class="faq-icon-wrap">
              <img
                src="./images/acc.svg"
                loading="lazy"
                alt=""
                class="faq-plus"
                style="
                      transform: translate3d(0px, 0%, 0px) scale3d(1, 1, 1)
                        rotateX(0deg) rotateY(0deg) rotateZ(0deg)
                        skew(0deg, 0deg);
                      transform-style: preserve-3d;
                    "
              /><img
                src="https://assets-global.website-files.com/64758a233afdd871f237b966/647b21b87a7d8d07355ca106_Faq-Minus.svg"
                loading="lazy"
                alt=""
                class="faq-minus"
                style="
                      transform: translate3d(0px, 0%, 0px) scale3d(1, 1, 1)
                        rotateX(0deg) rotateY(0deg) rotateZ(0deg)
                        skew(0deg, 0deg);
                      transform-style: preserve-3d;
                    "
              />
            </div>
          </div>
          <div class="accordion-ans-wrap" style="width: 100%; height: 0px">
            <p class="faq-ans" style="color: rgb(83, 83, 102)">
              Absolutely! By the end of the course, you'll have the skills and confidence to produce professional-level
              designs. Our curriculum focuses on practical projects that mimic real-world scenarios, ensuring you're
              ready for any design challenge.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
